.Profile {
  width: 100%;
  height: 1000px;
  margin: 20px 0;
  .ProfileCenter {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    gap: 20px;
    .Profile-Menu {
      width: 280px;
      .Profile-Menu-image {
        background-image: url("../../IMG/background-info.png");
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 280px;
        height: 150px;
        border-radius: 10px;

        img {
          border-radius: 50%;
          object-fit: cover;
          width: 60px;
          height: 60px;
        }
        p {
          margin: 5px 0;
          color: white;
        }
      }
      .Profile-Menu-itemLink {
        width: 100%;
        margin-top: 10px;
        background-color: white;

        .Item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          //   gap: 10px;
          height: 50px;
          padding: 10px;
          &:hover {
            border-left: 2px #1250dc solid;
            background-color: rgb(244, 245, 248);
            color: #1250dc;
            cursor: pointer;
          }
          .Menu-tag {
            width: 100%;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            gap: 20px;
            p {
              font-weight: 500;
            }
          }
        }
      }
    }
    .Profile-Content {
      flex: 1 1 0%;
    }
  }
}

.MyProfile {
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  .MyProfile-title {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
  }
  .MyProfile-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .MyProfile-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 20px 0;
      img {
        border-radius: 50%;
        height: 80px;
        width: 80px;
        object-fit: cover;
      }
    }
    .MyProfile-List-Info {
      // display: flex;
      margin: 20px 0;
      .MyProfile-List-Info-Nochange {
        width: 400px;
        display: flex;
        gap: 20px;
        flex-direction: column;

        .Item {
          padding: 10px;
          border-bottom: 1px solid #e5e7eb;
          display: flex;
          justify-content: space-between;
        }
      }
      .MyProfile-List-Info-change {
        width: 400px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        .Item-checkbox {
          display: flex;
          padding: 10px 20px;
          // flex-direction: column;
          gap: 20px;
          label {
            gap: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .Item {
          padding: 5px 20px;
          border-radius: 20px;
          border: 1px solid #e5e7eb;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          label {
            font-size: 12px;
            color: #657384;
            font-weight: 500;
          }
          input {
            font-size: 14px;
            height: 30px;
            border: none;
            outline: none;
            // padding: 10px;
          }
        }
      }
    }
    .Button-Change {
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      button {
        font-weight: 500;
        padding: 13px 30px;
        border-radius: 20px;
        border: none;
        color: white;
        background-color: #1250dc;
        opacity: 0.8;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
}

.ChangePass {
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  .ChangePass-title {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
  }
  .ChangePass-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    .ChangePass-content-item {
      .ChangePass-content-Decs {
        p {
          font-size: 13px;
        }
      }
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      max-width: 300px;
      gap: 10px;
      label {
        font-size: 14px;
        font-weight: 500;
        &:hover {
          cursor: pointer;
        }
      }
      input {
        height: 30px;
        // cursor: pointer;
        border-radius: 5px;
        padding: 10px;
        outline: none;
        border: 1px solid #e5e7eb;
      }
      button {
        height: 30px;
        background-color: #1250dc;
        color: white;
        font-weight: 500;
        outline: none;
        border: none;
        border-radius: 2px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}
.MyAddress {
  width: 100%;
  // height: auto;
  // position: relative;

  .MyAddress-title {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
    div {
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        font-size: 13px;
        font-weight: 500;
      }
    }
    button {
      width: 120px;
      height: 34px;
      border: none;
      border-radius: 40px;
      outline: none;
      background-color: #1250dc;
      color: white;
      padding: 5px;
      font-weight: 500;
      opacity: 0.9;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  .MyAddress-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
    max-height: 700px;
    min-height: 500px;
    overflow: hidden;
    justify-content: flex-start;
    // overflow-y: hidden;
    .MyAddress-List-Info {
      height: 100px;
      background-color: white;
      padding: 10px;
      border-radius: 20px;
      width: 90%;
      display: flex;
      align-items: center;
      // flex-direction: column;
      justify-content: space-between;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      .Infos {
        display: flex;
        align-items: center;
      }
      .MyAddress {
        display: flex;
        align-items: center;
      }
      .MyAddress-List-Info-action {
        button {
          padding: 5px 15px;
          border-radius: 20px;
          border: 1px solid #c1c8d1;
          outline: none;
          background-color: #1250dc;
          color: white;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.List-Address-New {
  transition: transform 1s ease;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  transform: translateX(500px);

  // padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  display: flex;
  z-index: 1000;
  width: 300px;
  flex-direction: column;
  // justify-content: space-between;
  .List-Address-title {
    padding: 10px;
    border-bottom: 1px solid #e5e7eb;
    height: 50px;
    width: 100%;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .List-Address-content {
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex-direction: column;
    // height: 300px;
    padding: 10px;
    width: 100%;

    .Info-Address {
      border-bottom: 1px solid #e5e7eb;
      margin: 10px 0;
      padding: 10px 0;
      display: flex;
      gap: 20px;
      flex-direction: column;
      input {
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        color: #657384;
        border: 1px solid #c1c8d1;
        font-weight: 600;
        font-size: 14px;
        outline: none;
      }
    }
    .List-Address-items-New {
      padding: 10px 0;
      border-bottom: 1px solid #e5e7eb;
      margin-bottom: 20px;
      gap: 20px;
      display: flex;
      width: 100%;
      flex-direction: column;

      .List-Address-item {
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        .List-Address-item-select {
          display: flex;
          z-index: 1501;
        }
        input {
          width: 100%;
          height: 70px;
          padding: 10px;
          border-radius: 5px;
          color: #657384;
          border: 1px solid #c1c8d1;
          font-weight: 600;
          font-size: 14px;
          outline: none;
        }
        select {
          width: 100%;
          height: 40px;
          padding: 10px;
          border-radius: 5px;
          color: #657384;
          border: 1px solid #c1c8d1;
          font-weight: 600;
          font-size: 14px;
          outline: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .List-Address-Submit {
    background-color: white;
    padding: 0 20px;
    button {
      width: 100%;
      height: 40px;
      cursor: pointer;
      border-radius: 10px;
      border: 1px solid #c1c8d1;
      background-color: #1250dc;
      color: white;
    }
  }
}
