.History-Product {
  margin: 50px 0;
  width: 100%;
  height: 380px;

  .History-Product-title {
    margin-bottom: 20px;
    color: #5680e9;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .History-Product-List {
    // overflow-x: scroll; /* Cho phép cuộn ngang */
    // white-space: nowrap; /* Ngăn các Card xuống dòng */
    // width: 300px;
    // width: 100%;
    // padding: 10px;
    // display: flex;
    // flex-direction: column;/
    // gap: 20px;
  }
}
