.Card {
  z-index: 499;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   padding: 10px;
  width: 180px;
  height: 300px;
  //   background-color: aquamarine;
  gap: 10px;
  border-radius: 5px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in;
  border: 1px solid white;
  background-color: white;
  &:hover {
    cursor: pointer;
    border: 1px solid var(--HoverColor);
    transform: translateY(-5px);
    .QuickView-Icon {
      opacity: 100%;
      transform: translateY(0);
    }
  }
  .addr {
    height: 0;
  }

  img {
    // border-bottom: 1px solid var(--GreyBg);
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    padding: 5px;
  }
  .Content {
    height: 100%;
    padding: 0 10px 0 10px;
    width: 100%;
    .Title {
      gap: 10px;
      height: 80px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      flex-direction: column;
      margin-bottom: 5px;
      .Name {
        color: black;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* Số dòng tối đa trước khi ngắt */
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .Cart {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 14px;
      button {
        padding: 10px 15px;
        color: white;
        background-color: #1250dc;
        border-radius: 20px;
        border: none;
      }
    }
  }
}
