.Card {
  z-index: 499;
  display: flex;
  flex-direction: column;
  align-items: center;
  //   padding: 10px;
  width: 200px;
  height: 300px;
  //   background-color: aquamarine;
  gap: 10px;
  border-radius: 5px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in;
  border: 0 solid var(--HoverColor);
  background-color: white;
  &:hover {
    cursor: pointer;
    border: 1px solid var(--HoverColor);
    transform: translateY(-5px);
    .QuickView-Icon {
      opacity: 100%;
      transform: translateY(0);
    }
  }
  .addr {
    height: 0;
  }
  .promotion {
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(295deg, #cd1a0c 0%, #ff5246 98.45%);
    border-bottom-right-radius: 10px;
    color: white;
    // width: 50px;
    // height: 20px;
    padding: 1px 6px;
    span {
      font-size: 14px;
      font-weight: 600;
    }
  }
  .QuickView-Icon {
    z-index: 500;
    opacity: 0%;
    transition: all 0.2s ease-in;
    position: absolute;
    right: 5px;
    top: 10px;
    transform: translateY(8px);
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
    &:hover {
      background-color: var(--PrimaryColor);
      color: white;
    }
  }
  img {
    // border-bottom: 1px solid var(--GreyBg);
    width: 100%;
    max-height: 170px;
    object-fit: contain;
    padding: 5px;
  }
  .Content {
    height: 100%;
    padding: 0 10px 0 10px;
    width: 100%;
    .Title {
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
      .Name {
        color: black;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* Số dòng tối đa trước khi ngắt */
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .Cart {
      display: flex;
      // align-items: center;
      justify-content: space-between;
      .Icon {
        padding: 7px;
        font-size: 38px;
        border-radius: 5px;
        &:hover {
          background-color: var(--PrimaryColor);
          color: white;
          cursor: pointer;
        }
      }
      .Price {
        font-weight: 500;
      }
    }
  }
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  .modal-content {
    z-index: 1001;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 28px;
    border-radius: 10px;
    max-width: 800px;
    min-width: 700px;
    max-height: 800px;
    min-height: 500px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    .modal-content-image,
    .modal-content-title {
      width: 100%;
      height: 100%;
    }
    .modal-content-image {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
        max-width: 220px;
        object-fit: cover;
      }
    }
    .modal-content-title {
      min-height: 400px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        margin-top: 16px;
        margin-bottom: 17px;
      }
      .modal-content-decs {
        width: 360px;
        height: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .close-modal {
    position: absolute;
    top: 6px;
    right: 10px;
    display: flex;
    padding: 5px;
    // flex-direction: column;
    align-items: center;
    gap: 20px;
    .icon-close {
      background-color: red;
    }
    .icon-close,
    .icon {
      padding: 5px 7px;
      font-size: 35px;
      border-radius: 5px;
      color: white;
      opacity: 0.8;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
    .icon {
      background-color: #5680e9;
    }
  }
}
